/* Preloader
-------------------------------------------------------------- */
#jpreOverlay {
    background-color: #5D5D5D;
}
#jpreLoader {
    width: 100%;
    height: 5px;
}
#jpreBar {
    background: #fff;
}
#jprePercentage {
    color: #fff;
    text-align: center;
}
